# List files, directories, executables  
alias ll='ls -laht'               # List all files in long format, including hidden  
alias ld='ls -lAh | grep "^d"'    # List only directories  
alias lf='ls -lAh | grep "^-" '   # List only regular files  
alias lx='ls -lAh | grep "^-..x"' # List only executables  

# Move up directories  
alias ..='cd ..'                  # Go up one level  
alias ...='cd ../..'              # Go up two levels  
alias ....='cd ../../..'          # Go up three levels  
alias ~='cd ~'

# Restart shell (reload zshrc)  
alias run="source ~/.zshrc"       

# Edit shell config in Sublime  
alias edit="subl ~/.zshrc"

alias python="python3"
alias py="python3"
alias pip="pip3"